.vertical-middle {
  display: table;

  &__inner {
    display: table-cell;
    vertical-align: middle;
  }
}

.full {
  &__width {
    width: 100%;
  }

  &__height {
    height: 100%;
  }
}

.float {
  &-left {
    float: left;
  }

  &-right {
    float: right;
  }
}

.wrapper {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.overflow-hidden {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.box {
  &-shadow {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  }

  &-sizing-border {
    box-sizing: border-box;
  }
}
